*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
local.properties
secrets/keystore.properties
secrets/nulvex-release.jks
/secrets/
# Ignore local IDE device configs and telemetry settings
.idea/deviceManager.xml
.idea/appInsightsSettings.xml
/logs/
/nulvex-release.jks
/fastlane/report.xml
/.claude/
/app/google-services.json
/.kotlin/
